.pagination	{ display:block; text-align:center; vertical-align:middle; }
.pagination .pagingbox_active	{ color:#df021f; font-weight:bold; vertical-align:middle; padding:0px 5px; border:1px solid #fff;  }
.pagination .pagingbox	{ color:#333; font-weight:normal; vertical-align:middle; padding:0px 5px; border:1px solid #fff;  }
.pagination .paging_n	{ font-weight:normal; vertical-align:middle; text-decoration:none; }
.pagination .paging_b	{ font-weight:bold; vertical-align:middle; text-decoration:none; }
.pagination .pagingbox:hover	{ border:1px solid #ddd; }
.pagination .first	{ width:18px; height:18px; padding:0px 2px; }
.pagination .prev	{ width:18px; height:18px; padding:0px 2px; }
.pagination .next	{ width:18px; height:18px; padding:0px 2px; }
.pagination .last	{ width:18px; height:18px; padding:0px 2px; }
